name: cypress e2e tests

on: push

jobs:
    cypress-test:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - name: Check out repository code
              uses: actions/checkout@v3
            - run: npm i

            - name: run cypress tests in chrome
              uses: cypress-io/github-action@v5
              with:
                  browser: chrome
                  record: true
                  build: npm run build
                  start: npm start
                  #   wait-on: 'http://localhost:3000'
            #   env:
            #       CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
            #       <Add in all your project specific env vars here>
