on: push
jobs:
    first-job:
        runs-on: windows-latest
        steps:
            - run: node --version
            - run: npm --version
            - run: npm install
            # - run: npm run test:run
